.header {
    width: 100%;
    height: 60px;
    background: var(--primary);
    padding: 0 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    font-weight: 600;
}
.logo img{
    height: 1.5rem;
}

.chat-icon {
    font-size: 22px;
    cursor: pointer;
}

.chat-icon img{
    height: 1.5rem;
}