@import "../page.component.css";

.poll {
  height: 100%;
  width: 100%;
  display: flex;
}

/* MAIN CONTAINER */
.poll-container {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.question-container {
  min-height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* QUESTION */
.poll-question {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

/* SCROLLABLE CONTENT */
.poll-content {
  flex: 1;
  overflow-y: auto;
}

/* OPTIONS */
.options-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.option-card {
  padding: 0.8rem;
  border-radius: 14px;
  background: #e9e9e9;
  cursor: pointer;
  transition: 0.25s ease;

  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-card.selected {
  background: rgba(0, 160, 70, 0.18);
  border-color: #12b76a;
}

/* Option text */
.option-text {
  font-size: 1rem;
  font-weight: 600;
}

/* Percentage bar container */
.percentage-bar {
  width: 100%;
  height: 14px;
  background: #dcdcdc;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

/* Filling bar */
.percentage-fill {
  height: 100%;
  background: #4caf50;
  border-radius: 6px;
  transition: width 0.5s ease;
}

/* Percentage number at end of bar */
.percentage-wrapper {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 10px;
}



/* BUTTON STICKS TO BOTTOM */
.vote-btn {
  margin-top: auto;
  padding: 12px 20px;
  background: #12b76a;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 600;
}

/* MOBILE */
@media (max-width: 600px) {
  .poll-container {
    padding: 0rem 1rem 1rem 1rem;
  }
}