.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: white;
    width: 90%;
    max-width: 400px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-control {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.btn-login {
    width: 100%;
    padding: 14px;
    background: #2563eb;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-login:hover {
    background: #1e40af;
}

.extra-link {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

.extra-link a {
    text-decoration: none;
    color: #2563eb;
    font-weight: 500;
}

/* --- Tablet Styles --- */
@media (min-width: 600px) {
    .login-container {
        padding: 35px;
        max-width: 450px;
    }

    .login-container h2 {
        font-size: 28px;
    }

    .form-control,
    .btn-login {
        font-size: 18px;
    }
}

/* --- Desktop Styles --- */
@media (min-width: 1024px) {


    .login-container {
        max-width: 420px;
        padding: 40px;
        box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
    }
}