<div class="sidebar" [ngClass]="{ 'isCollapsed': isCollapsed }">

    <ul *ngIf="!isPolls" class="main-menu">

        <li (click)="showPolls()"><i class="fa-solid fa-signal"></i> <span>Live Polls</span></li>
        <li (click)="openPage('new-poll')"> <i class="fa-solid fa-square-plus"></i>
            <span>Create New Poll</span>
        </li>
        <li (click)="openPage('chat')"> <i class="fa-solid fa-comments"></i>
            <span>Chat</span>
        </li>

        <li class="logout" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></li>
    </ul>

    <ul *ngIf="isPolls">

        <li (click)="showPolls()" class="back-menu"><i class="fa-solid fa-arrow-left"></i> <span>Back to Main
                Menu</span></li>

        <li *ngFor="let p of pollList;let i =index" (click)="openPoll(p.id)">
            <span>{{i + 1}}) {{p.question}}</span>
        </li>
    </ul>

</div>